{
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "printWidth": 120,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "plugins": [
    "prettier-plugin-classnames",
    "prettier-plugin-tailwindcss"
  ],
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "semi": false,
  "singleAttributePerLine": false
}